.python-version
.idea/
*.pyc
**/migrations/
.DS_Store
*.swp
settings_local.py
venv
dump.rdb
**/__pycache__/
**/.pytest_cache/

.coverage
coverage.xml
report.xml
htmlcov/

.mypy_cache/
**/.vscode
peach.egg-info/