repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v1.16.3
  hooks:
  - id: pyupgrade
    args: ["--py3-plus"]
- repo: https://github.com/python/black
  rev: 22.3.0
  hooks:
  - id: black
    language_version: python3
    exclude: protobuf
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      exclude: .*_pb2.py|.*_pb2_grpc.py
      additional_dependencies: [ 'flake8-bugbear==22.7.1' ]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.971
  hooks:
  - id: mypy
    language: system # 使用 venv 环境
    args: [ "--config=mypy.ini"]
#    additional_dependencies: [django-stubs]
#- repo: local
#  hooks:
#    - id: pytest
#      name: pytest
#      entry: pytest
#      language: system
#      pass_filenames: false
#      always_run: true
      # args: ["-c", "pytest.ini", "."]
